
html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  color: #2f2d13;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: .2em .5em .3em;
  margin: 0;
}

header h1 {
  font-size: 3rem;
  margin: .3em;
  padding: 0 .75em;
  font-family: "Sigmar One", cursive;
  color: #b20953;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

a {
  font-size: 1.125rem;
  padding: 0 .75em;
  margin: .3em;
  background-color: #b2a212;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.current {
  background-color: #cc1465;
}

a:hover {
  background-color: #cc1465;
}

h2 {
  font-family: Sigmar One, serif;
  color: #b20953;
  font-size: 1.875rem;
  padding: 0 .75em;
  margin: .3em;
}

img {
  margin: .3em;
  display: inline-block;
  padding: 0 .75em;
  max-width: 100%;
}

p {
  font-size: 1.125rem;
  margin: .3em;
  padding: .75em;
}

footer {
  background-color: #ffe500;
  padding: .75em;
  margin: 0;
  text-align: center;
}
